@font-face {
  font-family: Cereal Regular;
  src: url(assets/fonts/Cereal_Rg.ttf);
}

@font-face {
  font-family: Cereal Bold;
  src: url(assets/fonts/Cereal_A_Bd.ttf);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

:root {
  --blue: #2eb7ea;
  --blue-light: rgba(46, 183, 234, 0.18);
  --black: #000000;
  --white: #ffffff;
  --transparent: #2eb8ea00;
}

.padding {
  padding: 8rem 5rem;
}

.max-width {
  max-width: 58rem;
}

h1 {
  font-family: "Bebas Neue";
  font-size: 16rem;
  line-height: 81.4%;
}

.success-title {
  font-size: 5.25rem;
  margin-bottom: 3.5rem;
  margin-right: 3rem;
}

h1 span {
  opacity: 0;
}

h2 {
  font-size: 3.37rem;
  line-height: 1.2;
}

.success-subtitle {
  font-size: 3.375rem;
  margin-bottom: 8rem;
}

p {
  font-size: 2.375rem;
}

body {
  font-family: Cereal Regular;
  font-size: 16px;
  line-height: 1.2;
}

header {
  background: var(--blue);
  padding: 2rem 5rem;
  width: 100vw;
  z-index: 2;
  position: relative;
  transition: position 2s linear;
}

.fixed {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.5s;
}

.show {
  transform: translateY(0);
}

.hero,
.success {
  background: var(--blue);
  height: calc(100vh - 98px);
  display: flex;
  align-items: center;
}

.success {
  height: 100vh;
}

.sub {
  margin: 14rem 0 0rem 0;
}

.user-details {
  padding-top: 0;
}

.t-title {
  max-width: 40rem;
  font-family: Cereal Bold;
}

.t-sub,
.measurement {
  font-size: 1rem;
  text-decoration: underline;
  margin-top: 1rem;
  cursor: pointer;
}

.address {
  padding: 7rem 0 2rem 0;

  font-family: Cereal Bold;
}

.address-sub {
  margin-top: 2rem;
}

footer {
  background: var(--blue-light);
}

.contact {
  margin-bottom: 2.4rem;
}

.contact span,
.success-contact span {
  text-decoration: underline;
}

.ao-logo {
  max-width: 3.75rem;
  margin-bottom: 0.8rem;
}

/*SIZE CHART*/

.size-selector {
  display: none;
  visibility: hidden;
}

.show {
  display: block;
  visibility: visible;
}

.rtable {
  display: inline-block;
  display: none;
  vertical-align: top;
  max-width: 100%;

  overflow-x: auto;

  white-space: nowrap;

  border-collapse: collapse;
  border-spacing: 0;

  margin-top: 1rem;
}

.rtable,
.rtable--flip tbody {
  -webkit-overflow-scrolling: touch;
  background-size: 10px 100%, 10px 100%;
  background-attachment: scroll, scroll;
  background-repeat: no-repeat;
}

.rtable th {
  text-align: left;
}

.rtable th,
.rtable td {
  padding: 6px 12px;
  border: 1px solid #00000017;
}

.rtable--flip {
  display: flex;
  overflow: hidden;
  background: none;
}

.rtable--flip thead {
  display: flex;
  flex-shrink: 0;
  min-width: min-content;
}

.rtable--flip tbody {
  display: flex;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
}

.rtable--flip tr {
  display: flex;
  flex-direction: column;
  min-width: min-content;
  flex-shrink: 0;
}

.rtable--flip td,
.rtable--flip th {
  display: block;
}

.rtable--flip td {
  background-image: none !important;
  border-left: 0;
}

.rtable--flip th:not(:last-child),
.rtable--flip td:not(:last-child) {
  border-bottom: 0;
}

.t-header {
  background: var(--blue-light);
}

.scroll-indicator {
  font-size: 12px;
  margin-top: 8px;
  margin-left: 216px;
  display: none;
}

.guide {
  margin-top: 2rem;
  display: flex;
}

.illustration {
  width: 40%;
  background-color: red;
}

.size-description {
  margin-bottom: 2rem;
}

.description {
  margin: 0 8rem 0 2rem;
}

.description p {
  font-size: 1rem;
}

/*SIZE CHART*/

.success-container {
  max-width: 60rem;
}

@media (max-width: 1440px) {
  h1 {
    font-size: 12rem;
  }
}

@media (max-width: 1024px) {
  .sub {
    margin: 0;
  }
}

@media (max-width: 910px) {
  .scroll-indicator {
    display: block;
  }

  .success-title {
    font-size: 4rem;
  }

  .success-subtitle,
  .success-contact {
    font-size: 2rem;
  }
}

@media (max-width: 700px) {
  h1 {
    font-size: 8rem;
  }

  h2,
  p {
    font-size: 2rem;
  }

  .success-title {
    font-size: 3rem;
  }

  .success-subtitle,
  .success-contact {
    font-size: 1.5rem;
  }

  .illustration {
    width: 50%;
  }

  .description {
    margin-right: 0;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 6rem;
    line-height: 1;
  }

  h2,
  p,
  .success-contact {
    font-size: 1.5rem;
  }

  header {
    padding: 2rem;
  }

  .padding {
    padding: 4rem 2rem;
  }

  .success {
    align-items: flex-start;
  }

  .success-subtitle {
    margin-bottom: 3rem;
  }

  .guide {
    flex-direction: column;
  }

  .illustration {
    width: 80%;
  }

  .description {
    margin-left: 0;
  }
}
