@font-face {
  font-family: Cereal Regular;
  src: url(assets/fonts/Cereal_Rg.ttf);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

:root {
  --blue: #2eb7ea;
  --blue-light: rgba(46, 183, 234, 0.18);
  --black: #000000;
  --white: #ffffff;
  --transparent: #2eb8ea00;
}

.padding {
  padding: 8rem 5rem;
}

.max-width {
  max-width: 58rem;
}

h1 {
  font-family: "Bebas Neue";
  font-size: 16rem;
  line-height: 81.4%;
}

h2 {
  font-size: 3.37rem;
  line-height: 1.2;
}

p {
  font-size: 2.375rem;
}

body {
  font-family: Cereal Regular;
  font-size: 16px;
  line-height: 1.2;
}

header {
  background: var(--blue);
  padding: 2rem 5rem;
  width: 100vw;
  z-index: 2;
  position: relative;
  transition: position 2s linear;
}

.fixed {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.5s;
}

.show {
  transform: translateY(0);
}

.hero {
  background: var(--blue);
  height: calc(100vh - 98px);
  display: flex;
  align-items: center;
}

.sub {
  margin: 14rem 0 14rem 0;
}

.user-details {
  padding-top: 0;
}

.t-title {
  max-width: 40rem;
}

.t-sub {
  font-size: 1rem;
  text-decoration: underline;
  margin-top: 1rem;
}

.address {
  padding: 7rem 0 2rem 0;
}

.address-sub {
  margin-top: 2rem;
}

footer {
  background: var(--blue-light);
}

.contact {
  margin-bottom: 2.4rem;
}

.contact span {
  text-decoration: underline;
}

.ao-logo {
  max-width: 3.75rem;
  margin-bottom: 0.8rem;
}

@media (max-width: 1440px) {
  h1 {
    font-size: 12rem;
  }
}

@media (max-width: 1024px) {
  .sub {
    margin: 0;
  }
}

@media (max-width: 700px) {
  h1 {
    font-size: 8rem;
  }

  h2,
  p {
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 6rem;
    line-height: 1;
  }

  h2,
  p {
    font-size: 1.5rem;
  }

  header {
    padding: 2rem;
  }

  .padding {
    padding: 4rem 2rem;
  }
}
